/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --color-text: #FFFEF2;
    --link-visited-color: #b2b2b2;
    --color-background: #5b3e45;
    --color-header: rgb(41, 41, 41);
    --color-whitetext: white;
    --color-blacktext: black;
    --color-transparent: transparent;
    --color-grijs: #333333;
    --color-donkergeel: #f1f0de;
}

@font-face {
    font-family: 'Step';
    src: url('../fonts/HelveticaNeueLTStd-Roman.otf') format('opentype');
}

/* menu button */
header ul > li:nth-child(5) button {
    background-color: var(--color-transparent);
    color: var(--color-whitetext); 
	cursor: pointer;
}

header ul li a {
    text-decoration: none;
    color: var(--color-text);
    padding-bottom: 0;
    padding: .5em;
}

header ul li button {
    background-color: var(--color-transparent);
    border: none;
}

/*****************/
/* ALLE SECTIONS */
/*****************/


/*****************/
/* De button states */
/*****************/

/* sectie 1 button */
.section1 a {
    color: var(--color-whitetext);
    display: inline-block;
    padding: 1.5em 1em;
    border: solid var(--color-whitetext);
    background: var(--color-transparent);
    text-decoration: none;
    margin: 2em;
    order: 5;
}

/* sectie 1 button focus */
.section1 a:focus {
    background-color: var(--color-whitetext);
    color: var(--color-blacktext);
    text-decoration: underline;
    text-decoration-thickness: .2em;
    text-underline-offset: .2em;
}

/* sectie 1 button hover */
.section1 a:hover {
    background-color: var(--color-donkergeel);
    color: var(--color-blacktext);
    transition: .4s;
    text-decoration: underline;
    text-decoration-thickness: .2em;
    text-underline-offset: .2em;
}

/* de grote buttons in homepage  */
main section:nth-of-type(3) a,
main section:nth-of-type(4) a {
    color: var(--color-blacktext);
    display: inline-block;
    padding: 1.5em 1em;
    border: solid var(--color-blacktext);
    background-color: var(--color-transparent);
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
    margin: 2em;
}

/* buttons focus */
main section:nth-of-type(3) a:focus,
main section:nth-of-type(4) a:focus {
    background: var(--color-grijs);
    color: var(--color-whitetext);
}

/* buttons hover */
main section:nth-of-type(3) a:hover,
main section:nth-of-type(4) a:hover {
    background-color: var(--color-grijs);
    color: var(--color-whitetext);
    transition: .4s;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

/* buttons kleiner op grote scherm */
@media (width > 40em) {

    main section:nth-of-type(1) a,
    main section:nth-of-type(3) a,
    main section:nth-of-type(4) a {
        align-self: start;
    }
}

/****************/
/* HERO SECTION */
/****************/

/****************/
/* Section 1 main  */
/****************/

/* section 1 van main */
main section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
}

/* section 1 tekst */
main section:nth-of-type(1) a,
main section:nth-of-type(1) h2,
main section:nth-of-type(1) h3,
main section:nth-of-type(1) p {
    color: var(--color-whitetext);
}

/* section 1 paarse img */
main section:nth-of-type(1) img {
    order: -1;
    width: 100%;
    height: 20em;
}

.section1 p {
    order: 2;
    padding-top: 2em;
}

.section1 h2 {
    order: 3;
    padding-left: 1em;
}

.section1 h3 {
    order: 4;
}

.section1 ul{
   display: grid;
}

.section1 ul li:first-of-type{
    order: 1;
}

/* bron: https://codepen.io/shooft/pen/bGONoKa */
/* tekst op foto */
@media (width > 45em){
.section1 ul{
    position: relative;
    height: 33em;
}

.section1 ul li:first-of-type{
    position: absolute;
    padding-top: 5em;
}

.section1 ul li:last-of-type{
    height: 100%;
}

main section:nth-of-type(1) img {
    width: 100%;
    height: 54.5vh;
}
}

/*************/
/* SECTION 2 */
/*************/

/* bron:https://codepen.io/shooft/pen/KKbwmao */
/* Carousel */
.section2 ul {
    display: flex;
    overflow-x: auto;
    padding-left: 3em;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 2em;
}

.section2 ul li {
    flex-shrink: 0;
    margin-right: 1em;
}

.section2 ul img {
    width: 50%;
    height: 80%;
}

/* tekst onder carousel*/
.section2 p {
    padding-top: 0.5em;
}

.section2 h2 {
    position: absolute;
    left: -9999px;
}

/*************/
/* SECTION 3 */
/*************/

main section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
}

main section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
}

main section:nth-of-type(3) img {
    order: -1;
}

/*************/
/* SECTION 4 */
/*************/

main section:nth-of-type(4) {
    display: flex;
    flex-direction: column;
}

main section:nth-of-type(4) {
    display: flex;
    flex-direction: column;
}

main section:nth-of-type(4) ul {
    order: -1;
}

/*************/
/* SECTION 5 */
/*************/

main section:nth-of-type(5) {
    display: flex;
    flex-direction: column;
}

/* padding bij laatste section */
@media (width > 20em) {
    main section:nth-of-type(5) {
        padding: 2em;
    }
}


