/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text: #FFFEF2;
	--link-visited-color: #b2b2b2;
	--color-background: #5b3e45;
	--color-header: rgb(41, 41, 41);
	--color-whitetext: white;
	--color-blacktext: black;
	--color-transparent: transparent;
	--color-grijs: #333333;
	--color-footer: #1e1e1e;
}

@font-face {
	font-family: 'Step';
	src: url('../fonts/HelveticaNeueLTStd-Roman.otf') format('opentype');
}

/********************/
/* ALGEMENE STYLING */
/********************/

body {
	margin: 0;
}

/* De letters */
h1 {
	font-size: medium;
	font-weight: lighter;
}

h1,
h2,
h3,
p,
a {
	padding: 1em;
	font-family: 'Step', sans-serif;
	font-weight: lighter;
}


/**********/
/* header */
/**********/

/* zwart blokje */
header {
	background-color: var(--color-background);
}

/* tekst in zwart blokje */
header p {
	background-color: var(--color-header);
	color: var(--color-whitetext);
	z-index: 100;
	position: relative;
}

/* lijst van shoppingcart etc */
header > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	text-decoration: none;
	justify-content: center;
	justify-content: end;
	align-items: center;
	position: absolute;
	left: 0;
	right: 0;
}

header > ul.open a,
header ul.open > li:nth-child(5) button {
	color: var(--color-blacktext);
}

header > ul.open img {
	filter:invert(1);
}

/* Alles in lu van header */
header ul li {
	margin-right: 1em;
	margin-top: 1em;
}

/* zoekbalk + hartje */
header ul img {
	width: 1.3em;
	height: 1.3em;
}

/* cart onderlijning */
header ul > li:nth-child(4) a {
    position: relative;
    display: inline-block; 
}

/* cart onderlijning */
header ul > li:nth-child(4) a:hover::after {
    width: 100%; 
}

header ul button:focus {
	background-color:var();
  }
  
header ul  button:active {
	background-color:var();
  }

/* hamburgermenu */
header nav ul li a {
	z-index: 100;
	color: var(--color-blacktext);
}

/* hamburgermenu */
header > ul {
	z-index: 100;
}

/* hamburgermenu */
header nav {
	display: flex;
	position: fixed;
	inset: 0;
	transform: translateX(-100%);
	transition: .5s;
	background-color: var(--color-text);
	padding-top: 10em;
	bottom: 0;
}

/* hamburgermenu */
header nav.open {
	transform: translateX(0%);
	color: var(--color-blacktext);
}

/********/
/* MAIN */
/********/

main {
	background-color: var(--color-text);
}

/**********/
/* FOOTER */
/**********/

/* links van footer */
footer{
	background-color: var(--color-footer);
}

footer section {
	padding: 1em;
	background-color: var(--color-footer);
}

footer section h2 {
	margin: 0;
}

footer section p {
	position: absolute;
	left: -9999em;
}

footer a {
	font-family: 'step', sans-serif;
	color: var(--color-whitetext);
	font-weight: lighter;
}

/* letters kleuren */
footer h2,
footer h3,
footer p {
	color: var(--color-whitetext);
}

/* klikbare woorden */
footer nav {
	padding: 1em;
	background-color: var(--color-footer);
}

/* hele lijst */
footer nav ul {
	margin: 0;
	min-height: fit-content;
}

/* alles in de lijst */
footer li {
	list-style: none;
}

footer h3 {
	font-weight: bold;
}

footer nav li a {
	text-decoration: none;
}

/* email input */
footer form {
	display: flex;
	padding: 1em;
	background-color: var(--color-footer);
}

.email-input {
	padding: 10px;
	border: 1px solid var(--color-whitetext);
	border-radius: 5px 0 0 5px;
}

footer button {
	padding: 10px 20px;
	border: 1px solid var(--color-whitetext);
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}

footer button:hover {
	background-color: var(--color-whitetext);
}

footer nav p {
	color: var(--color-whitetext);
}

@media (width > 15em) {
	footer {
		display: grid;
	}
}

@media (width > 48em) {
	footer {
		display: grid;
		grid-template-columns: 40% 60%;
	}

	section {
		grid-row-start: 1;
		grid-row-end: 3;
	}

	footer section p {
		position: static;
		left: 0em;
	}

	footer h2,
	footer p,
	footer a,
	footer h3 {
		color: var(--color-whitetext);
	}

	footer nav {
		height:36em;
		display: flex;
		flex-direction: column;
		flex-wrap:wrap;
	}

	footer nav p {
		color: var(--color-whitetext);
	}

	footer nav ul {
		background-color: var(--color-footer);
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
}